* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #111;
  color: #ccc;
}

a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: #ccc;
  text-align: center;
  text-shadow: 1px 1px 0px #444;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 2em;
  font-size: 14px;
}

.animate {
  -webkit-transition: opacity 1s, height 1s;
  -moz-transition: opacity 1s, height 1s;
  -o-transition: opacity 1s, height 1s;
  transition: opacity 1s, height 1s;

  overflow: hidden;
}

.animateOff {
  -webkit-transition: opacity 0s, height 0s;
  -moz-transition: opacity 0s, height 0s;
  -o-transition: opacity 0s, height 0s;
  transition: opacity 0s, height 0s;

  overflow: hidden;
}

.animate.slideUp {
  height: 0 !important;
}

.animate.fadeIn {
  opacity: 1.0 !important;
}

.animate.fadeOut {
  opacity: 0.0 !important;
}

.keeper {
  width: 664px;
  height: 362px;

  background: url('../img/quiz/keeper.png');
  box-shadow: 0 0 64px #000;

  margin: 0 auto;
  padding: 14px;

  text-align: center;
  font-size: 12px;

  overflow: hidden;
}

.keeper .wrapper {

  overflow: hidden;
  height: 100%;
  padding: 6px;
}

#difficulties, #score {
  height: 48px;
  line-height: 48px;
}

.difficulty {
  display: inline-block;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  text-align: center;
  font-size: 18px;

  margin: 0 6px;
  padding: 0 12px;

  cursor: pointer;
  line-height: 32px;

  box-shadow: 1px 1px 3px 1px #000;
}

.difficulty.easy {
  border-color: #180 #160 #160 #180;
}

.difficulty.normal {
  border-color: #880 #660 #660 #880;
}

.difficulty.unfair {
  border-color: #810 #610 #610 #810;
}

#spacer {
  height: 72px;
}

#score, #stats {
  font-weight: bold;
  font-size: 14px;
}

#score {
  padding-left: 50px;
}

#stats {
  height: 24px;
  line-height 24px;
}

#score .change {
  width: 46px;
  text-align: left;
  margin-left: 4px;
}

#score .positive {
  color: #080;
}

#score .negative{
  color: #800;
}

.question {
  margin: 0 auto;
  height: 110px;
}

.question > * {
  display: inline-block;
  vertical-align: middle;
}

.option {
  border-style: solid;
  border-width: 1px;
  border-color: #666 #444 #444 #666;
  border-radius: 5px;

  box-shadow: 1px 1px 3px 1px #000;

  margin: 6px;
  text-align: center;

  cursor: pointer;
}

.icon {
  width: 85px;
  height: 64px;

  font-size: 48px;
  line-height: 64px;

  background-size: 100% auto;
  background-position: left center;
}

/* the items extracted from the client have whitespace to the right */
.icon.item {
  background-size: 124px 64px;
}

.example .icon.item {
  background-size: 67px 32px;
}

.example {
  display: inline-block;
  width: 33%;
}

.example .icon {
  width: 42px;
  height: 32px;

  font-size: 24px;
  line-height: 32px;
}

.option.text {
  padding: 4px 20px;
  text-transform: capitalize;
  position: relative;
}

.option:hover {
  border-color: #999 #777 #777 #999;
}

.correct, .correct:hover {
  background-color: #040;
  border-color: #180 #160 #160 #180;
}

.correct:before {
  content: '✔';
  color: #0A0;
  text-shadow: 1px 0px 0px #060;
  padding-right: 4px;
}

.correct.text:before {
  position: absolute;
  left: 6px;
}

.incorrect, .incorrect:hover {
  background-color: #400;
  border-color: #810 #610 #610 #810;
}

.incorrect:before {
  content: '✗';
  color: #A00;
  text-shadow: 1px 0px 0px #600;
}

.incorrect.text:before {
  position: absolute;
  left: 6px;
}

.explanation {
  display: block;
  border-top: 1px solid #444;

  margin: 12px;
  padding: 12px;
}
