body {
  background: #111;
  color: #CCC;
}

.keeper {
  width: 616px; /* 664 - 48 */
  height: 314px; /* 362 - 48 */

  background: url('../img/quiz/keeper.png');
  box-shadow: 0 0 64px #000;

  margin: 0 auto;
  padding: 24px;

  text-align: center;
  font-size: 12px;

  overflow: hidden;
}

.difficulty {
  display: inline-block;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  text-align: center;
  font-size: 18px;

  margin: 6px;
  padding: 4px 12px;

  cursor: pointer;

  box-shadow: 1px 1px 3px 1px #000;
}

.difficulty.easy {
  border-color: #180 #160 #160 #180;
}

.difficulty.normal {
  border-color: #880 #660 #660 #880;
}

.difficulty.unfair {
  border-color: #810 #610 #610 #810;
}

#score {
  font-weight: bold;
  font-size: 14px;
}

.question {
  margin: 0 auto;
}

.question > * {
  display: inline-block;
  vertical-align: middle;
}

.option {
  border-style: solid;
  border-width: 1px;
  border-color: #666 #444 #444 #666;
  border-radius: 5px;

  box-shadow: 1px 1px 3px 1px #000;

  margin: 6px;
  text-align: center;

  cursor: pointer;
}

.icon {
  width: 85px;
  height: 64px;

  font-size: 48px;
  line-height: 64px;

  background-size: 100% auto;
  background-position: 50% 50%;
}

.example {
  display: inline-block;
  width: 33%;
}

.example .icon {
  width: 42px;
  height: 32px;

  font-size: 24px;
  line-height: 32px;
}

.option.text {
  padding: 4px 8px;
}

.option:hover {
  border-color: #999 #777 #777 #999;
}

.correct, .correct:hover {
  background-color: #040;
  border-color: #180 #160 #160 #180;
}

.correct:before {
  content: '✔';
  color: #0A0;
  text-shadow: 1px 0px 0px #060;
}

.correct.text:before {
  padding-right: 6px;
}

.incorrect, .incorrect:hover {
  background-color: #400;
  border-color: #810 #610 #610 #810;
}

.incorrect:before {
  content: '✗';
  color: #A00;
  text-shadow: 1px 0px 0px #600;
}

.incorrect.text:before {
  padding-right: 6px;
}

.explanation {
  display: block;
  border-top: 1px solid #444;

  margin: 12px;
  padding: 12px;
}
